<?xml version="1.0"?>

<robot name="ackermann" xmlns:xacro="http://www.ros.org/wiki/xacro"> 
  <xacro:include filename="$(find ackermann)/urdf/cylinder_wheel.urdf.xacro"/>
  <xacro:include filename="$(find ackermann)/urdf/sterzanti.xacro"/>

  <!--PROPERTY LIST-->       
  <!--All units in m-kg-s-radians unit system -->
  <xacro:property name="M_PI" value="3.1415926535897931"/>      
  <xacro:property name="M_PI_2" value="1.570796327"/>       
  <xacro:property name="DEG_TO_RAD" value="0.017453293"/>       
  <!--Main Body cylinder base -->       
  <xacro:property name="base_height" value="0.2"/>       
  <xacro:property name="base_radius" value="0.15"/>       
  <xacro:property name="base_mass" value="5"/> <!-- in kg -->
  <!-- Caster wheel -->
  <xacro:property name="caster_height" value="0.04"/>
  <xacro:property name="caster_radius" value="0.025"/>
  <xacro:property name="caster_mass" value="0.5"/>

  <link name="base_link">
    <visual>
      <geometry>
      <box size="0.25 0.110 0.03" />
      <!--<cylinder length="${base_height}" radius="0.15"/>-->
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
      <box size="0.25 0.110 0.03" />
      <!--<cylinder radius="${base_radius}" length="${base_height}"/>-->
      </geometry>
    </collision>
      <inertial>
        <mass value="${base_mass}" />
        <cylinder_inertia m="${base_mass}" r="${base_radius}" h="${base_height}"/>
      </inertial>
  </link>


  <cylinder_wheel fb="rear" lr="right" parent="base_link" translateX="-0.5" translateY="0.212" flipY="1"/>
  <cylinder_wheel fb="rear" lr="left" parent="base_link" translateX="-0.5" translateY="-0.212" flipY="1"/>
  
  <cylinder_steering_wheel fb="front" lr="right" parent="base_link" translateX="0.5" translateY="0.212" flipY="1"/>
  <cylinder_steering_wheel fb="front" lr="left" parent="base_link" translateX="0.5" translateY="-0.212" flipY="1"/>


  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>

  </robot>