<?xml version="1.0"?>

<robot name="ackermann" xmlns:xacro="http://www.ros.org/wiki/xacro"> 
  <xacro:include filename="$(find ackermann)/urdf/cylinder_wheel.urdf.xacro"/>
  <xacro:include filename="$(find ackermann)/urdf/sterzanti.xacro"/>
  <xacro:include filename="$(find ackermann)/urdf/fari.xacro"/>

  <!--PROPERTY LIST-->       
  <!--All units in m-kg-s-radians unit system -->
  <xacro:property name="M_PI" value="3.1415926535897931"/>      
  <xacro:property name="M_PI_2" value="1.570796327"/>       
  <xacro:property name="DEG_TO_RAD" value="0.017453293"/>       
  <!--Main Body box base  (z y x)-->       
  <xacro:property name="height" value="0.01"/>       
  <xacro:property name="width" value="0.110"/>
  <xacro:property name="depth" value="0.25"/>
  <xacro:property name="mass" value="5"/> <!-- in kg -->

  <xacro:macro name="solid_cuboid_inertial" params="width depth height mass">
      <inertia ixx="${mass * (depth * depth + height * height) / 12}"
               ixy="0" ixz="0"
               iyy="${mass * (width * width + height * height) / 12}"
               iyz="0"
               izz="${mass * (width * width + depth * depth) / 12}"/>
  </xacro:macro>
  
  <!--Rimozione warning
  <link name="chasis">
  </link>
  <joint name="chasis_joint" type="fixed">
  <parent link="chasis"/>
  <child link="base_link"/>
  </joint>
-->

  <link name="base_link">
    <visual>
      <geometry>
      <box size="${depth} ${width} ${height}"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
      <box size="0.25 0.110 0.01" />
      </geometry>
    </collision>
      <inertial>
        <mass value="${mass}" />
        <solid_cuboid_inertial width='${width}' depth='${depth}' height='${height}' mass='${mass}' />
      </inertial>
  </link>


  <cylinder_wheel fb="rear" lr="right" parent="base_link" translateX="-0.5" translateY="0.272" flipY="1"/>
  <cylinder_wheel fb="rear" lr="left" parent="base_link" translateX="-0.5" translateY="-0.272" flipY="1"/>
  
  <cylinder_steering_wheel fb="front" lr="right" parent="base_link" translateX="0.5" translateY="0.272" flipY="1"/>
  <cylinder_steering_wheel fb="front" lr="left" parent="base_link" translateX="0.5" translateY="-0.272" flipY="1"/>

  <faro fb ="front" lr="right" parent="base_link" translateX="0.45" translateY="0.1" flipY="1" />
  <faro fb ="front" lr="left" parent="base_link" translateX="0.45" translateY="-0.1" flipY="1" />

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>

  </robot>